.contact_wrap{
  display: flex;
  justify-content: left;
  align-items: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
    gap: 10px;
    width: 350px;
    align-items: baseline;
}

.contact_info{
    margin-top: 5px;
    text-align: center;
    display: flex;

}

.delete_button{
    width: 60px;
    margin-top: 5px;
}