.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;

}

label {
  display: flex;
  flex-direction: column;
  width: 350px;
  padding-bottom: 15px;
}

.input {
    padding: 8px 32px 8px 8px;
  border-radius: 4px;
  width: 300px;
}

.btn_add_contact {
  width: 150px;
    margin: 0 auto;
}
