@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding-left: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
    padding: 8px 32px 8px 8px;
  border-radius: 4px;
  width: 300px;
  display: flex;
  flex-direction: column;
  font-size: 500;
}

.active{
  color: aliceblue;
  background-color: rgb(255, 145, 0);
}